<div class="collection">
    @Html.ActionLink("Inicio", "Index", "Home", new { @class = "collection-item active" })
    @Html.ActionLink("Contacto", "About", "Home", new { @class = "collection-item active" })
    @Html.ActionLink("Visitas", "Contact", "Home", new { @class = "collection-item active" })
</div>
