@{
    ViewBag.Title = "Home Page";
}

<h3>BIENVENIDO AL PROYECTO FINAL</h3>
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="~/images/web1.jpg">
                <span class="card-title">saludos</span>
            </div>
            <div class="card-content">
                <p>
                    ESTA WEB ESTA HECHA SOLO PARA EL PROYECTO FINAL DE PROGRAMACION WEB
                </p>
            </div>
            <div class="card-action">
                <a href="#">Aqui va algun link</a>
            </div>
        </div>
    </div>
</div>




